body {
  font-family: "Noto Sans JP";
  font-size: 16px;
  color: #384459;
  font-weight: 700;
  text-align: center;
}

/* Layout */
.flex {
  display: flex;
}
.hidden {
  display: none;
}
.justify-between {
  justify-content: space-between;
}
.align-center {
  align-items: center;
}
.border_right {
  border-right: solid 1px #e4e4e4;
}
.decoration-none {
  text-decoration: none;
}
.list-style-none {
  list-style: none;
}

/* padding */
.mx-px-00 {
  padding: 0 0 0 0;
  margin: 0 0 0 0;
}
.px-20 {
  padding-left: 20px;
  padding-right: 20px;
}
.px-30 {
  padding-left: 30px;
  padding-right: 30px;
}
.px-40 {
  padding-left: 40px;
  padding-right: 40px;
}
.px-50 {
  padding-left: 50px;
  padding-right: 50px;
}
.py-20 {
  padding-top: 20px;
  padding-bottom: 20px;
}
.py-30 {
  padding-top: 30px;
  padding-bottom: 30px;
}
.py-50 {
  padding-top: 50px;
  padding-bottom: 50px;
}
.py-110 {
  padding-top: 110px;
}
.mx-120 {
  margin-left: 120px;
  margin-right: 120px;
}

/* color */
.text-white {
  color: #ffffff;
}
.txt-color-primay {
  color: #007979;
}

.bg-linear {
  background: linear-gradient(to right, #2ea1aa 30%, #06bc7a);
}
.font-11px {
  font-size: 11px;
}
.font-16px {
  font-size: 16px;
}
.lg_hero01_msg {
  font-size: 16px;
  width: 220px;
}
.hero01_msg {
  font-size: 11px;
  width: 160px;
}
.font-16px {
  font-size: 16px;
}

.bg-primary {
  background: #007979;
}

/* gap */
.gap-x-10 {
  gap: 0px 10px;
}
.gap-x-50 {
  gap: 0px 50px;
}

.header-px {
  padding-left: 0px;
  padding-right: 0px;
}
.btn-px {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 30px;
  padding-bottom: 30px;
}
.btn-px-linear {
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 4px;
  box-shadow: -4px -4px 20px 0px #ffffff;
  box-shadow: 0px 4px 20px 0px #ffffff;
}
.btn-px-linear2 {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 4px;
  box-shadow: -4px -4px 20px 0px #ffffff;
  box-shadow: 0px 4px 20px 0px #ffffff;
}
.btn-hover:hover {
  opacity: 0.7;
  transition: 0.5s;
}
/* ======================== */
/* max: width >= 1280px
/* ======================== */
@media screen and (min-width: 1280px) {
  .xl_max-w-1280 {
    max-width: 1280px;
  }
  .xl_m-auto {
    margin: 0px auto !important;
  }
}
/* ======================== */
/* lg: width >= 1024px
/* ======================== */
@media screen and (min-width: 1024px) {
}
/* ======================== */
/* md: width >= 768px
/* ======================== */
@media screen and (min-width: 768px) {
  .lg_flex {
    display: flex;
  }
  .lg_hidden {
    display: none;
  }
  .header-px {
    padding-left: 30px;
    padding-right: 30px;
  }
  .btn-px {
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 30px;
    padding-bottom: 30px;
  }
}
/* ======================== */
/* sm: width >= 640px
/* ======================== */
@media screen and (min-width: 640px) {
}
.hero01 {
  display: flex;
}
.md_hidden {
  display: none;
}

/* hero01の親属性 */
.bg01_parents {
  position: relative;
}

/* lg版 */
/* ============================= */
/* hero01の子属性1 */
.lg_child_abs01 {
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
}
/* hero01の子属性2 */
.lg_child_abs02 {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
}
/* hero01の子属性3 */
.lg_child_abs03 {
  position: absolute;
  /* left: 16%; */
  top: 56%;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
}
/* hero01の子属性4 */
.lg_child_abs04 {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
}
.height-100px {
  height: 100px;
}
.btn-md-hero01 {
  width: 200px;
  margin-left: auto;
  margin-right: auto;
}

/* モバイル版（標準） */
/* ============================= */
/* hero01の子属性1 */
.child_abs01 {
  position: absolute;
  /* left: 40%; */
  top: 15%;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
}
/* hero01の子属性2 */
.child_abs02 {
  position: absolute;
  /* left: 2%; */
  top: 40%;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
}
/* hero01の子属性3 */
.child_abs03 {
  position: absolute;
  /* left: 10%; */
  top: 56%;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
}
/* hero01の子属性4 */
.child_abs04-1 {
  position: absolute;
  /* left: 26%; */
  top: 0%;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
}
/* hero01の子属性4 */
.child_abs04 {
  position: absolute;
  /* left: 26%; */
  top: 70%;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
}
.mx-140 {
  margin-bottom: 100px;
}
.icon_hero_x-size {
  width: 8px;
  height: 8px;
}
.m-central {
  align-items: center;
  justify-content: center;
}
.text-center {
  text-align: center;
}
.bg-synpmathy {
  background-color: #f1f7f8;
  height: 600px;
}
.bg-synpmathy-lg {
  margin-top: 20px;
  margin-right: 100px;
  background-color: #f1f7f8;
  height: 400px;
  width: 85%;
}
.synpmathy-font span {
  font-size: 24px;
}
.synpmathy-font-lg span {
  font-size: 32px;
}
.synpmathy-font-lg {
  font-size: 18px;
}
.text-left {
  text-align: left;
}
.synpmathy-1st-msg {
  margin: 0 0 0 0;
  padding-top: 30px;
  padding-left: 8px;
  padding-bottom: 20px;
}
.synpmathy-1st-msg-lg {
  margin: 0 0 0 0;
  padding-top: 30px;
  padding-left: 20px;
  padding-bottom: 20px;
}
.synpmathy-2nd-msg {
  margin: 0 0 0 0;
  font-size: 8px;
  padding-left: 80px;
  padding-bottom: 0px;
}
.synpmathy-3nd-msg {
  margin: 0 0 0 0;
  font-size: 11px;
  font-weight: normal;
  color: #384359;
  padding-top: 0px;
  padding-left: 8px;
  padding-bottom: 0px;
}
.synpmathy-3nd-msg-lg {
  margin: 0 0 0 0;
  font-size: 14px;
  font-weight: normal;
  color: #384359;
  padding-top: 0px;
  padding-left: 20px;
  padding-bottom: 0px;
}
.synpmathy-4nd-msg {
  padding-bottom: 0px;
  text-align: center;
  margin-bottom: 0px;
}
.synpmathy-4nd-msg-lg {
  padding-bottom: 0px;
  text-align: left;
  padding-left: 20px;
  margin-bottom: 0px;
}
.synpmathy-4nd-img {
  text-align: center;
  padding-top: 0px;
  margin-top: 0px;
  padding-bottom: 30px;
}
.synpmathy-4nd-img-lg {
  text-align: left;
  padding-top: 0px;
  margin-top: 0px;
  padding-left: 20px;
  padding-bottom: 30px;
}
/* synpmathyのイメージ（足をずらすところ） */
.synpmathy_child_image {
  position: absolute;
  top: 50%;
}
/* synpmathyのイメージ（足をずらすところ） */
.synpmathy_child_image-lg {
  position: absolute;
  top: 5%;
  left: 500px;
}
